<style>
.liblist ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.liblist ul li {
	display: inline-block;
	margin-right: 10px;
}

.liblist ul li a {
	text-decoration: none;
	color: #111;
}

.liblist ul li a:hover {
	color: #222;
}
</style>
