@include('../../edge/partials/head')
    @include('../../edge/partials/header')
    <section class="container">
        @!component('../../edge/components/lib', { site, lib })
    </section>
@include('../../edge/partials/foot')
